In [2]:
# Libraries
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
matplotlib.style.use('ggplot')
import random as rng
import numpy as np
%matplotlib inline

In [15]:
data = pd.read_csv("ocrdummy.csv")

In [16]:
data

,Name,Year 1,Year 2,Year 3,Year 4,Year 5,Year 6,Year 7,Year 8,Year 9,Year 10
0,Rush Henrietta,45,34,53,65,34,29,45,50,20,45
1,Cougar Tech,65,60,70,35,40,65,60,59,55,60
2,Pittsford,22,24,15,30,6,14,19,22,10,40
3,Brighton,15,35,25,20,17,19,10,9,8,15
4,Chili,20,30,22,33,44,33,31,23,29,31
5,Gates,30,15,5,60,34,22,20,20,20,19
6,Fairport,19,13,14,19,13,12,15,16,18,18

In [47]:
data.iloc[0]

Name       Rush Henrietta
Year 1                 45
Year 2                 34
Year 3                 53
Year 4                 65
Year 5                 34
Year 6                 29
Year 7                 45
Year 8                 50
Year 9                 20
Year 10                45
Name: 0, dtype: object

In [51]:
row = data.iloc[0]
row.plot(kind='bar')
plt.show()

TypeError: Empty 'DataFrame': no numeric data to plot